<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/css/admin/board.css" rel="stylesheet">
    <link href="/css/admin/side-nav.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul.numb {
            display: flex;
            list-style: none;
        }
        .none {
            display: none;
        }
    </style>
</head>
<body>

<div class="wrap">
    <!-- header -->
    <div class="header">
        <div class="logoImage">
            <a href="#"><img src="/image/logo.png"></a>
        </div>
        <div class="title">
            <div>
                <span class="ChangeTitle">공지 사항</span>
            </div>
            <span><small>관리자모드</small></span>
        </div>
    </div>


    <!--mainSidebar -->
    <section class="mainContainer">
        <!--side bar-->
        <nav class="mainNav" th:replace="~{/admin/side-bar :: nav}"></nav>

        <!--mainScreen 회원관리-->
        <div class="mainContent">
            <form action="#" class = "searchForm">
                <div class="memberSearch">
                    <div class="memberSearchInput">
                        <select name = "type">
                            <option value="name">제목</option>
                            <option value="location">작성자</option>
                        </select>
                        <div>
                            <input type="text" name ="keyword" placeholder="검색어를 입력하세요">
                        </div>


                        <button class = "searchBtn">
                            <img src="/image/search.png">
                        </button>
                    </div>
                </div>
            </form>

            <div class="memberLists">
                <div id="root">
                    <div>
                        <span>총 개</span>
                        <button class="deleteBtn">삭제</button>
                    </div>
                </div>
                <form action="#" class = "deleteForm">
                    <input type = "hidden" name = "page" value = "${criteria.page}">
                    <input type = "hidden" name = "type" value = "${criteria.type}">
                    <input type = "hidden" name = "keyword" value = "${criteria.keyword}">
                    <table class="userTable">
                        <thead>
                        <tr class="tableTh" style="border-top:3px solid #6e6e6e;">
                            <td class = "inputCheckBoxAllBtn"><input class="inputCheckBoxAll"type="checkbox"></td>
                            <td>공지사항 번호</td>
                            <td>제목</td>
                            <td>작성자</td>
                            <td>작성일</td>
                            <td>수정일</td>
                            <td>수정하기</td>
                        </tr>
<!--                        <tr>-->
<!--                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>-->
<!--                            <td>1</td>-->
<!--                            <td>스타트업 필수 요건</td>-->
<!--                            <td>관리자1</td>-->
<!--                            <td>2022-01-01</td>-->
<!--                            <td>2022-01-03</td>-->
<!--                            <td><a href="/admin/notice-update-form"><button type="button" class = "update_btn">수정하기</button></a></td>-->
<!--                        </tr>-->
                        <tr th:each="notice:${pagination.content}">
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td th:text="${notice.id}"></td>
                            <td th:text="${notice.noticeTitle}"></td>
                            <td th:text="${notice.noticeWriter}"></td>
                            <td th:text="${notice.noticeReleaseDate}"></td>
                            <td th:text="${notice.noticeUpdateDate}"></td>
                            <td><a th:href="|/admin/notice-update-form?id=${notice.id}|"><button type="button" class = "update_btn">수정하기</button></a></td>

                        </tr>
                        </thead>

                    </table>
                </form>
                <form action="/admin/notice-form">
                    <div class="btn btn-write">
                        <button class="clickWriteBtn">공지 작성</button>
                    </div>
                </form>
                <!-- [S] 페이지 컨트롤러 -->
                <div class="page-controller-wrap">

                    <!-- 이전 페이지로 이동하기 -->
<!--                    <a class="page-list page-list-move page-before"> <img-->
<!--                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGElEQVR42mNgAIPi/8X/4QwwE5PBQJADAAKSG3cyVhtXAAAAAElFTkSuQmCC"-->
<!--                            alt="이전 페이지로 이동하기 아이콘"></a>-->
<!--                    <a class="page-list page-list-first list-on">1</a>-->
<!--                    <a class="page-list page-list-second">2</a>-->
<!--                    <a class="page-list page-list-third">3</a>-->
<!--                    <a class="page-list page-list-fourth">4</a>-->
<!--                    <a class="page-list page-list-fifth">5</a>-->

<!--                    &lt;!&ndash; 다음 페이지로 이동하기 &ndash;&gt;-->
<!--                    <a class="page-list page-list-move page-after"> <img-->
<!--                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGUlEQVR42mMo/l/8nwECQEwCHEwGhAlRBgA2mht3SwgzrwAAAABJRU5ErkJggg=="-->
<!--                            alt="다음 페이지로 이동하기 아이콘">-->
<!--                    </a>-->
                    <ul class="numb" th:with="
                            nowPage = ${pagination.number + 1},
                            pageSize = ${pagination.size},
                            totalPages = ${pagination.totalPages},
                            endPage = ${((nowPage - 1) / pageSize + 1) * pageSize},
                            startPage = ${endPage - pageSize + 1},
                            realEndPage = ${endPage < totalPages ? endPage : totalPages},
                            first = ${pagination.first}, last = ${pagination.last}
                        ">
                        <li th:classappend="${startPage == 1} ? 'none'" class="prev">
                            <a th:href="@{/admin/notice(page=${startPage-2})}" th:text="＜＜"></a>
                        </li>
                        <li th:classappend="${first} ? 'none'" class="prev">
                            <a th:href="@{/admin/notice(page=${nowPage-2})}" th:text="＜"></a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(startPage, realEndPage)}">
                            <a th:if="${nowPage != page}" th:href="@{/admin/notice(page=${page-1})}" th:text="${page}"></a>
                            <span style="color: #ff0000" th:unless="${nowPage != page}" th:text="${page}"></span>
                        </li>
                        <li th:classappend="${last} ? 'none'" class="next">
                            <a th:href="@{/admin/notice(page=${nowPage})}" th:text="＞"></a>
                        </li>
                        <li th:classappend="${endPage >= totalPages} ? 'none'" class="prev">
                            <a th:href="@{/admin/notice(page=${endPage})}" th:text="＞＞"></a>
                        </li>
                    </ul>

                </div>
                <!-- [E] 페이지 컨트롤러 -->
                <div th:unless="${!pagination.content.isEmpty()}">
                    <h1>게시글이 없습니다.</h1>
                </div>
            </div>
        </div>
    </section>
    <form action="#" name = "page-form">
        <input id="page" type = "hidden" name = "page" value = "${criteria.page}">
        <input type = "hidden" name = "type" value = "${criteria.type}">
        <input type = "hidden" name = "keyword" value = "${criteria.keyword}">
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let pagination = [[${pagination}]];
    console.log([[${search}]])
</script>
<script src="/js/admin/notice.js"></script>
</html>