<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>side-bar</title>
    <link href="/css/admin/side-nav.css" rel="stylesheet">

</head>
<body>
<nav>
    <ul class="mainNav">
        <li><a href="/admin/admin">관리자 계정 관리</a></li>
        <li><a href="/admin/main">메인 관리</a></li>
        <li><a href="/admin/member">회원 관리</a></li>
        <li><a href="/admin/start-up" >스타트업 관리</a></li>
        <li><a href="/admin/enterprise" >기업 관리</a></li>
        <li><a href="/admin/one-day-experience" >기업 일일 체험 목록</a></li>
        <li><a href="/admin/start-up-product-experience" >창업 상품 체험 목록</a></li>
        <li><a href="/admin/notice" >공지 사항</a></li>
        <li><a href="/admin/notice-form" >공지 사항 작성</a></li>
        <li><a href="/admin/qna" >문의 목록</a></li>


    </ul>
</nav>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/side-bar.js"></script>
</html>

