<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.wadiz.kr/assets/icon/favicon-32x32.png">
    <link rel="stylesheet" href="/css/mypage/event.css">
    <link rel="stylesheet" href="/css/header-footer/login-header.css">
    <link rel="stylesheet" href="/css/header-footer/main-footer.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>와디즈 메이커센터(지원글 목록)</title>
</head>
<body>
    <div id="root">
        <div style="position: fixed; z-index: 9999; inset: 16px; pointer-events: none;"></div>
        <div class="MuiBox-root css-0">
            <!-- 헤더 -->
            <header class="header" th:replace="~{/header-footer/login-header :: .login-header}"></header>

            <!-- body -->
            <div class="MuiBox-root css-ldo4d5">
                <div class="MuiBox-root css-nh5bnw">
                    <p class="MuiTypography-root MuiTypography-body1 css-1opn9x3">공지/이벤트</p>
                    
                    <!-- 카테고리 레이아웃 -->
                    <div class="MuiTabs-root css-xjfrmp">
                        <div class="MuiTabs-scroller MuiTabs-fixed css-1anid1y" style="overflow: hidden; margin-bottom: 0px;">
                            <div aria-label="basic tabs" class="MuiTabs-flexContainer css-k008qs" role="tablist">
                                <a class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1bqb22h" tabindex="-1" role="tab" aria-selected="false" id="simple-tab-0" aria-controls="simple-tabpanel-0" href="https://makercenter.wadiz.kr/menu/17" style="min-width: 30px;">
                                    <p class="MuiTypography-root MuiTypography-body1 css-8y9zzg">공지사항</p>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                </a>
                                <a class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary Mui-selected css-1bqb22h" tabindex="0" role="tab" aria-selected="false" id="simple-tab-0" aria-controls="simple-tabpanel-0" href="https://makercenter.wadiz.kr/menu/17" style="min-width: 30px;">
                                    <p class="MuiTypography-root MuiTypography-body1 css-eskagx">이벤트·혜택</p>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>               
                                </a>
                                <a class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1bqb22h" tabindex="1" role="tab" aria-selected="false" id="simple-tab-0" aria-controls="simple-tabpanel-0" href="https://makercenter.wadiz.kr/menu/17" style="min-width: 30px;">
                                    <p class="MuiTypography-root MuiTypography-body1 css-8y9zzg">보도자료</p>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                </a>
                                <a class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1bqb22h" tabindex="2" role="tab" aria-selected="false" id="simple-tab-0" aria-controls="simple-tabpanel-0" href="https://makercenter.wadiz.kr/menu/17" style="min-width: 30px;">
                                    <p class="MuiTypography-root MuiTypography-body1 css-8y9zzg">메이커 캘린더</p>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                </a>
                                <a class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary css-1bqb22h" tabindex="3" role="tab" aria-selected="false" id="simple-tab-0" aria-controls="simple-tabpanel-0" href="https://makercenter.wadiz.kr/menu/17" style="min-width: 30px;">
                                    <p class="MuiTypography-root MuiTypography-body1 css-8y9zzg">신뢰센터</p>
                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                </a>
                            </div>
                            <span class="MuiTabs-indicator css-mxlzig" style="left: 118.891px; width: 78.8281px;"></span>
                        </div>
                    </div>
                    <div role="tabpanel" id="simple-tabpanel-0" aria-labelledby="simple-tab-0" style="margin-top: 68px; width: 100%; display: none;"></div>
                    
                    <div role="tabpanel" id="simple-tabpanel-1" aria-labelledby="simple-tab-1" style="margin-top: 68px; width: 100%;">
                        <div class="MuiBox-root css-old1by">
                            <div class="MuiBox-root css-tor48c">
                                
                                <!-- 이벤트 혜택 레이아웃 -->
                                <div class="MuiBox-root css-z7mtfw">
                                    <div class="MuiBox-root css-jj39n4">이벤트·혜택</div>
                                    <div class="MuiBox-root css-k008qs">
                                        <div class="MuiFormControl-root css-vqr80u">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1vmia02" style="height: 40px; font-size: 14px; font-weight: 400; line-height: 20px; color: rgb(33, 37, 41); width: 140px;">
                                                <div tabindex="0" role="button" aria-expanded="false" aria-haspopup="listbox" aria-label="Without label" class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-qiwgdb">전체</div>
                                                <input aria-hidden="true" tabindex="1" class="MuiSelect-nativeInput css-1k3x8v3">
                                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                                                    <path d="M7 10l5 5 5-5z"></path>
                                                </svg>
                                                <fieldset aria-hidden="true" class="MuiOutlinedInput-notchedOutline css-igs3ac">
                                                    <legend class="css-ihdtdm">
                                                        <span class="notranslate">&ZeroWidthSpace;</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="MuiFormControl-root css-tcw4yi">
                                            <div class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl css-1vmia02" style="height: 40px; font-size: 14px; font-weight: 400; line-height: 20px; color: rgb(33, 37, 41); width: 110px;">
                                                <div tabindex="0" role="button" aria-expanded="false" aria-haspopup="listbox" aria-label="Without label" class="MuiSelect-select MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input css-qiwgdb">전체</div>
                                                <input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput css-1k3x8v3" value="1">
                                                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiSelect-icon MuiSelect-iconOutlined css-1636szt" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                                                    <path d="M7 10l5 5 5-5z"></path>
                                                </svg>
                                                <fieldset aria-hidden="true" class="MuiOutlinedInput-notchedOutline css-igs3ac">
                                                    <legend class="css-ihdtdm">
                                                        <span class="notranslate">&ZeroWidthSpace;</span>
                                                    </legend>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <form class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 css-spt4lr">
                                            <div class="MuiBox-root css-70qvj9">
                                                <div class="MuiInputBase-root MuiInputBase-colorPrimary css-s2i14f">
                                                    <input placeholder="검색어를 입력해 주세요" type="text" class="MuiInputBase-input css-17zd8ob">
                                                </div>
                                                <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-1yxmbwk" tabindex="0" type="button">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5198 16.7459C20.5958 13.2606 20.3576 7.96481 16.9811 4.76972C13.6045 1.57462 8.30367 1.62898 4.99337 4.89266C1.68307 8.15634 1.55352 13.4559 4.70041 16.8774C7.84729 20.2989 13.1392 20.6122 16.6678 17.5859L20.9638 21.8759L21.0058 21.9239L21.8518 21.0779L17.5198 16.7459ZM11.0698 3.59994C12.9233 3.59716 14.7106 4.28855 16.0798 5.53794C17.5393 6.86404 18.4042 8.7214 18.4798 10.6919C18.6153 13.6965 16.927 16.4867 14.2026 17.7608C11.4782 19.0349 8.25445 18.5419 6.03538 16.5117C3.8163 14.4816 3.03913 11.3144 4.06642 8.48763C5.09371 5.66089 7.72305 3.73165 10.7278 3.59994H11.0698Z" fill="#60656A"></path>
                                                    </svg>
                                                    <span class="MuiTouchRipple-root css-w0pj6f"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- 이미지 목록 레이아웃 -->
                                <ul class="MuiImageList-root MuiImageList-standard css-1thvh0g" style="grid-template-columns: repeat(4, 1fr); gap: 0px;">
                                    <li class="MuiImageListItem-root MuiImageListItem-standard css-e9tu9c" style="height: auto; grid-column-end: span 1; grid-row-end: span 1;">
                                        <div class="MuiBox-root css-j7qwjs">
                                            <img src="https://static.makercenter.wadiz.kr/board/image/b9670ba6-9bee-4630-ad36-cc9f84899e30.png" loading="lazy" alt="[프로모션] 광고 상품 할인 혜택" style="width: 302px; height: 160px; border-radius: 8px; object-fit: cover;">
                                            <div class="MuiBox-root css-1gfsrtm">
                                                <div class="MuiBox-root css-1lekzkb">
                                                    <div class="MuiBox-root css-3dmewo"></div>
                                                    <div class="MuiBox-root css-k008qs">
                                                        <div class="MuiBox-root css-ldk1pm">중요</div>
                                                        <div class="MuiBox-root css-1azrhj6">진행중</div>
                                                    </div>
                                                </div>
                                                <div class="MuiBox-root css-qq3zwa">[프로모션] 광고 상품 할인 혜택</div>
                                                <div class="MuiBox-root css-1anv9ze">지금 광고를 고려하고 있다면? 인기 광고 상품 주말 20% 할인과 연속일 할인 혜택 받아가세요.</div>
                                                <div class="MuiBox-root css-14q388d">
                                                    2023.06.16
                                                    ~ 2023.07.13
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="MuiImageListItem-root MuiImageListItem-standard css-e9tu9c" style="height: auto; grid-column-end: span 1; grid-row-end: span 1;">
                                        <div class="MuiBox-root css-j7qwjs">
                                            <img src="https://static.makercenter.wadiz.kr/board/image/b9670ba6-9bee-4630-ad36-cc9f84899e30.png" loading="lazy" alt="[프로모션] 광고 상품 할인 혜택" style="width: 302px; height: 160px; border-radius: 8px; object-fit: cover;">
                                            <div class="MuiBox-root css-1gfsrtm">
                                                <div class="MuiBox-root css-1lekzkb">
                                                    <div class="MuiBox-root css-3dmewo"></div>
                                                    <div class="MuiBox-root css-k008qs">
                                                        <div class="MuiBox-root css-ldk1pm">중요</div>
                                                        <div class="MuiBox-root css-1azrhj6">진행중</div>
                                                    </div>
                                                </div>
                                                <div class="MuiBox-root css-qq3zwa">[프로모션] 광고 상품 할인 혜택</div>
                                                <div class="MuiBox-root css-1anv9ze">지금 광고를 고려하고 있다면? 인기 광고 상품 주말 20% 할인과 연속일 할인 혜택 받아가세요.</div>
                                                <div class="MuiBox-root css-14q388d">
                                                    2023.06.16
                                                    ~ 2023.07.13
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="MuiImageListItem-root MuiImageListItem-standard css-e9tu9c" style="height: auto; grid-column-end: span 1; grid-row-end: span 1;">
                                        <div class="MuiBox-root css-j7qwjs">
                                            <img src="https://static.makercenter.wadiz.kr/board/image/b9670ba6-9bee-4630-ad36-cc9f84899e30.png" loading="lazy" alt="[프로모션] 광고 상품 할인 혜택" style="width: 302px; height: 160px; border-radius: 8px; object-fit: cover;">
                                            <div class="MuiBox-root css-1gfsrtm">
                                                <div class="MuiBox-root css-1lekzkb">
                                                    <div class="MuiBox-root css-3dmewo"></div>
                                                    <div class="MuiBox-root css-k008qs">
                                                        <div class="MuiBox-root css-ldk1pm">중요</div>
                                                        <div class="MuiBox-root css-1azrhj6">진행중</div>
                                                    </div>
                                                </div>
                                                <div class="MuiBox-root css-qq3zwa">[프로모션] 광고 상품 할인 혜택</div>
                                                <div class="MuiBox-root css-1anv9ze">지금 광고를 고려하고 있다면? 인기 광고 상품 주말 20% 할인과 연속일 할인 혜택 받아가세요.</div>
                                                <div class="MuiBox-root css-14q388d">
                                                    2023.06.16
                                                    ~ 2023.07.13
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="MuiImageListItem-root MuiImageListItem-standard css-e9tu9c" style="height: auto; grid-column-end: span 1; grid-row-end: span 1;">
                                        <div class="MuiBox-root css-j7qwjs">
                                            <img src="https://static.makercenter.wadiz.kr/board/image/b9670ba6-9bee-4630-ad36-cc9f84899e30.png" loading="lazy" alt="[프로모션] 광고 상품 할인 혜택" style="width: 302px; height: 160px; border-radius: 8px; object-fit: cover;">
                                            <div class="MuiBox-root css-1gfsrtm">
                                                <div class="MuiBox-root css-1lekzkb">
                                                    <div class="MuiBox-root css-3dmewo"></div>
                                                    <div class="MuiBox-root css-k008qs">
                                                        <div class="MuiBox-root css-ldk1pm">중요</div>
                                                        <div class="MuiBox-root css-1azrhj6">진행중</div>
                                                    </div>
                                                </div>
                                                <div class="MuiBox-root css-qq3zwa">[프로모션] 광고 상품 할인 혜택</div>
                                                <div class="MuiBox-root css-1anv9ze">지금 광고를 고려하고 있다면? 인기 광고 상품 주말 20% 할인과 연속일 할인 혜택 받아가세요.</div>
                                                <div class="MuiBox-root css-14q388d">
                                                    2023.06.16
                                                    ~ 2023.07.13
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="MuiImageListItem-root MuiImageListItem-standard css-e9tu9c" style="height: auto; grid-column-end: span 1; grid-row-end: span 1;">
                                        <div class="MuiBox-root css-j7qwjs">
                                            <img src="https://static.makercenter.wadiz.kr/board/image/b9670ba6-9bee-4630-ad36-cc9f84899e30.png" loading="lazy" alt="[프로모션] 광고 상품 할인 혜택" style="width: 302px; height: 160px; border-radius: 8px; object-fit: cover;">
                                            <div class="MuiBox-root css-1gfsrtm">
                                                <div class="MuiBox-root css-1lekzkb">
                                                    <div class="MuiBox-root css-3dmewo"></div>
                                                    <div class="MuiBox-root css-k008qs">
                                                        <div class="MuiBox-root css-ldk1pm">중요</div>
                                                        <div class="MuiBox-root css-1azrhj6">진행중</div>
                                                    </div>
                                                </div>
                                                <div class="MuiBox-root css-qq3zwa">[프로모션] 광고 상품 할인 혜택</div>
                                                <div class="MuiBox-root css-1anv9ze">지금 광고를 고려하고 있다면? 인기 광고 상품 주말 20% 할인과 연속일 할인 혜택 받아가세요.</div>
                                                <div class="MuiBox-root css-14q388d">
                                                    2023.06.16
                                                    ~ 2023.07.13
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="MuiImageListItem-root MuiImageListItem-standard css-e9tu9c" style="height: auto; grid-column-end: span 1; grid-row-end: span 1;">
                                        <div class="MuiBox-root css-j7qwjs">
                                            <img src="https://static.makercenter.wadiz.kr/board/image/b9670ba6-9bee-4630-ad36-cc9f84899e30.png" loading="lazy" alt="[프로모션] 광고 상품 할인 혜택" style="width: 302px; height: 160px; border-radius: 8px; object-fit: cover;">
                                            <div class="MuiBox-root css-1gfsrtm">
                                                <div class="MuiBox-root css-1lekzkb">
                                                    <div class="MuiBox-root css-3dmewo"></div>
                                                    <div class="MuiBox-root css-k008qs">
                                                        <div class="MuiBox-root css-ldk1pm">중요</div>
                                                        <div class="MuiBox-root css-1azrhj6">진행중</div>
                                                    </div>
                                                </div>
                                                <div class="MuiBox-root css-qq3zwa">[프로모션] 광고 상품 할인 혜택</div>
                                                <div class="MuiBox-root css-1anv9ze">지금 광고를 고려하고 있다면? 인기 광고 상품 주말 20% 할인과 연속일 할인 혜택 받아가세요.</div>
                                                <div class="MuiBox-root css-14q388d">
                                                    2023.06.16
                                                    ~ 2023.07.13
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <div></div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!-- 푸터 레이아웃-->
            <footer class="footer" th:replace="~{/header-footer/main-footer :: .main-footer}"></footer>
        </div>
    </div>
</body>
</html>