<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.wadiz.kr/assets/icon/favicon-32x32.png">
    <link rel="stylesheet" href="/css/mypage/setting-password.css">
    <link rel="stylesheet" href="/css/header-footer/login-header.css">
    <link rel="stylesheet" href="/css/header-footer/main-footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <title>비밀번호 설정: 와디즈 MY 정보설정</title>
</head>
<body>
    <div id="page-container">
        <!-- 헤더 -->
        <header class="header" th:replace="~{/header-footer/login-header :: .login-header}"></header>

        <!-- body -->
        <div id="accountWrap">
            <div id="newContainer">
                <div class="account-wrap">
                    <h2 class="small">비밀번호 설정</h2>
                    <div class="email-input-wrap">
                        <form id="saveForm">
                            <input type="password" id="oldPassword" name="oldPassword" class="input-text" placeholder="현재 비밀번호">
                            <p id="oldPasswordError" class="error-text">현재 비밀번호가 일치 하지 않습니다.</p>
                            <input type="password" id="newPassword" name="newPassword" class="input-text" placeholder="새 비밀번호" maxlength="20">
                            <p id="passwordError" class="pwd-text">영문, 숫자, 특수문자 !@#$%^&*+=-를 모두 조합한 8자 이상</p>
                            <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="input-text" placeholder="새 비밀번호 확인" maxlength="20">
                            <p class="error-text">비밀번호가 같지 않습니다.</p>
                            
                            <!-- 버튼 레이아웃 -->
                            <div class="email-input-wrap small">
                                <div class="btn-wrap smaller">
                                    <button id="saveBtn" type="button" class="wz button primary block">확인</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 푸터 레이아웃-->
        <footer class="footer" th:replace="~{/header-footer/main-footer :: .main-footer}"></footer>
    </div>
</body>
</html>