<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.wadiz.kr/assets/icon/favicon-32x32.png">
    <link rel="stylesheet" href="/css/mypage/wishlist.css">
    <link rel="stylesheet" href="/css/header-footer/login-header.css">
    <link rel="stylesheet" href="/css/header-footer/main-footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <title>찜하기</title>
</head>
<body>
    <div id="page-container">
        <main id="main-app">
            <!-- 헤더 -->
            <header class="header" th:replace="~{/header-footer/login-header :: .login-header}"></header>

            <!-- body -->
            <div class="MainWrapper_content__GZkTa">
                <div class="App_containerWrapper__KiLM_ App_isWishDesktop__3RT6b">
                    <div class="App_container__1ciND">

                        <!-- 타이틀 레이아웃 -->
                        <div class="App_titleBox__GffUu">
                            <p>찜한</p>
                            <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMiAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuMDAwMDggMC45MDAwMjRDNC4zMDQ0NSAwLjkwMDAyNCAyLjYyMzM4IDEuNzQ1MTIgMS41NzQzNCAzLjIxMzc4QzAuNTE0MTU5IDQuNjk4MDIgMC4xMjY0NjMgNi43NzY1NSAwLjkzMDg2NCA5LjE4OTc1QzEuNTgwODYgMTEuMTM5NyAzLjM4NjQzIDEzLjI2ODMgNS4yODM5OCAxNS4wOTQ4QzcuMjAyOSAxNi45NDE5IDkuMzA0MjMgMTguNTYyMiAxMC42NjAyIDE5LjQ5NDRDMTAuODY0OSAxOS42MzUyIDExLjEzNTIgMTkuNjM1MiAxMS4zNCAxOS40OTQ0QzEyLjY5NTkgMTguNTYyMiAxNC43OTczIDE2Ljk0MTkgMTYuNzE2MiAxNS4wOTQ4QzE4LjYxMzcgMTMuMjY4MyAyMC40MTkzIDExLjEzOTcgMjEuMDY5MyA5LjE4OTc1QzIxLjg3MzcgNi43NzY1NSAyMS40ODYgNC42OTgwMiAyMC40MjU4IDMuMjEzNzhDMTkuMzc2OCAxLjc0NTEyIDE3LjY5NTcgMC45MDAwMjQgMTYuMDAwMSAwLjkwMDAyNEMxMy40MTc1IDAuOTAwMDI0IDExLjgzNTYgMi4yNDgwMSAxMS4wMDAxIDMuMzY4NzRDMTAuMTY0NiAyLjI0ODAxIDguNTgyNjcgMC45MDAwMjQgNi4wMDAwOCAwLjkwMDAyNFoiIGZpbGw9IiNGRjY2NjYiLz4KPC9zdmc+Cg==" alt=>
                            <p>만 모았어요</p>
                        </div>

                        <!-- 카테고리 필터 레이아웃 -->
                        <div class="CategoryFilter_container__QCU1Y App_categoryFilter__W8TI0">
                            <ul class="CategoryFilter_categoryfilterList__2WMA0 CategoryFilter_hideScrollbar__5kdyj">
                                <li class="CategoryFilter_filterItem__1-_sW">
                                    <button class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_md__46Ai- CategoryFilter_button__U4yZv CategoryFilter_current__3lUyE">
                                        <span>
                                            <span class="Button_children__ilFun">전체</span>
                                        </span>
                                    </button>
                                </li>
                                <li class="CategoryFilter_filterItem__1-_sW">
                                    <button class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_md__46Ai- CategoryFilter_button__U4yZv">
                                        <span>
                                            <span class="Button_children__ilFun">메이커</span>
                                        </span>
                                    </button>
                                </li>
                                <li class="CategoryFilter_filterItem__1-_sW">
                                    <button class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_md__46Ai- CategoryFilter_button__U4yZv">
                                        <span>
                                            <span class="Button_children__ilFun">알림신청</span>
                                        </span>
                                    </button>
                                </li>
                                <li class="CategoryFilter_filterItem__1-_sW">
                                    <button class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_md__46Ai- CategoryFilter_button__U4yZv">
                                        <span>
                                            <span class="Button_children__ilFun">펀딩/프리오더</span>
                                        </span>
                                    </button>
                                </li>
                                <li class="CategoryFilter_filterItem__1-_sW">
                                    <button class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_md__46Ai- CategoryFilter_button__U4yZv">
                                        <span>
                                            <span class="Button_children__ilFun">스토어</span>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <!-- 목록쪽 레이아웃 -->
                        <div class="ContentsContainer_container__32V3E">
                            <div class="WishCard_container__18waD">
                                <p class="WishCard_caption__tA8mK">20시간 전에 찜했어요</p>
                                <div class="HorizentalCard_container__1Rk50" style="height: 148px;">
                                    <div class="HorizentalCard_buttonWrapper__K2wmz" style="width: 144px; height: 144px;">
                                        <button type="button" class="WishButton_button__1ZqbG WishButton_interaction__2FCel" aria-label="찜하기 버튼" aria-pressed="true">
                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon__3VTbq" aria-hidden="true">
                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <a class="HorizentalCard_card__qglkp" href="https://www.wadiz.kr/web/campaign/detail/217715">
                                        <div class="HorizentalCard_thumbnailContainer__1O-dl" style="width: 144px; height: 144px;">
                                            <div class="HorizentalCard_thumbnailPlaceholder__3l0yP" style="padding-top: 100%;">
                                                <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4" style="background-image: url('https://cdn.wadiz.kr/wwwwadiz/green001/2023/0605/20230605095815924_217715.png/wadiz/resize/300/format/jpg/quality/85/'); border-radius: 8px;"></div>
                                            </div>
                                        </div>
                                        <div class="HorizentalCard_detailWrapper__oS4Wf">
                                            <div class="HorizentalCard_detail__5ch7U">
                                                <span class="HorizentalCard_archive__2M3g8">234% 달성</span>
                                                <p class="HorizentalCard_title__1AhKb">이동 중에도 공부-휴식 시간 Lock, 1주일 공부 휴식 누적 오로지순공</p>
                                                <p class="HorizentalCard_makerName__1jQEW">이소탄</p>
                                            </div>
                                            <div class="HorizentalCard_detailBadges__1xtfF">
                                                <div class="RewardBadge_container__3AVaM">
                                                    <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                        <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_secondary__UV-TU Badge_tertiary__3uYKh">펀딩</span>
                                                    </span>
                                                    <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                        <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_secondary__UV-TU Badge_tertiary__3uYKh">117만 원+</span>
                                                    </span>
                                                    <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                        <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_secondary__UV-TU Badge_tertiary__3uYKh">18일 남음</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="WishCard_container__18waD">
                                <p class="WishCard_caption__tA8mK">20시간 전에 찜했어요</p>
                                <div class="HorizentalCard_container__1Rk50" style="height: 148px;">
                                    <div class="HorizentalCard_buttonWrapper__K2wmz" style="width: 144px; height: 144px;">
                                        <button type="button" class="WishButton_button__1ZqbG WishButton_interaction__2FCel" aria-label="찜하기 버튼" aria-pressed="true">
                                            <svg viewBox="0 0 32 32" focusable="false" role="presentation" class="withIcon_icon__3VTbq" aria-hidden="true">
                                                <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <a class="HorizentalCard_card__qglkp" href="https://www.wadiz.kr/web/campaign/detail/217715">
                                        <div class="HorizentalCard_thumbnailContainer__1O-dl" style="width: 144px; height: 144px;">
                                            <div class="HorizentalCard_thumbnailPlaceholder__3l0yP" style="padding-top: 100%;">
                                                <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4" style="background-image: url('https://cdn.wadiz.kr/wwwwadiz/green001/2023/0605/20230605095815924_217715.png/wadiz/resize/300/format/jpg/quality/85/'); border-radius: 8px;"></div>
                                            </div>
                                        </div>
                                        <div class="HorizentalCard_detailWrapper__oS4Wf">
                                            <div class="HorizentalCard_detail__5ch7U">
                                                <span class="HorizentalCard_archive__2M3g8">234% 달성</span>
                                                <p class="HorizentalCard_title__1AhKb">이동 중에도 공부-휴식 시간 Lock, 1주일 공부 휴식 누적 오로지순공</p>
                                                <p class="HorizentalCard_makerName__1jQEW">이소탄</p>
                                            </div>
                                            <div class="HorizentalCard_detailBadges__1xtfF">
                                                <div class="RewardBadge_container__3AVaM">
                                                    <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                        <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_secondary__UV-TU Badge_tertiary__3uYKh">펀딩</span>
                                                    </span>
                                                    <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                        <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_secondary__UV-TU Badge_tertiary__3uYKh">117만 원+</span>
                                                    </span>
                                                    <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                        <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_secondary__UV-TU Badge_tertiary__3uYKh">18일 남음</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="intersection"></div>
                        </div>
                        <div class="SafeArea_container__19KXQ" style="height: 295px;"></div>
                    </div>
                </div>
            </div>
            
            <div class="FloatingButtons_container__2E5Fl"></div>
        </main>
    </div>
</body>
</html>