<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--파비콘 -->
    <link rel="icon" href="https://static.wadiz.kr/assets/icon/favicon-32x32.png">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <title>연계소문 비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/modal/easy-modal.css">
</head>
<body>
<div style="display:none;" class="DialogModal_dialogPortal__BM1PV easy-modal">
    <div class="DialogModal_dialogOverlay__2fDsh DialogModal_basic__TvFe7 DialogModal_dialogOverlayAfterOpen__1MGB5">
        <div class="DialogModal_dialogContent__33Iur DialogModal_dialogContentAfterOpen__uf7yA" tabindex="-1"
             role="dialog" aria-modal="true">
            <div class="BasicDialog_modalWrap__17eb_">
                <div class="BasicDialog_modalWrapBox__3QCu3">
                    <div class="BasicDialog_dialogBox__kK0GT">
                        <div class="BasicDialog_dialogTitle__3u28L">등록되지 않은 계정</div>
                        <div class="BasicDialog_dialogMessage__35wCp">
                            <p>dmstkddlek12@naver.cm는 와디즈에 등록되어 있지 않은 계정입니다. </p>
                            <p>다른 계정을 입력해보세요.</p></div>
                        <div class="BasicDialog_dialogButtonArea__3pf8P BasicDialog_reverse__1oy8X">
                            <button class="Button_button__cfyja BasicDialog_dialogButton__1I7wu" type="button">
                                <span><span class="Button_children__1BTvH">확인</span></span></button>
                        </div>
                    </div>
                    <button type="button" class="BasicDialog_modalClose__2dz6b" title="닫기">
                        <svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__djI-9"
                             aria-hidden="true">
                            <path d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>