*, :after, :before {
    box-sizing: border-box;
}

iframe, img, video {
    vertical-align: top;
}

img, video {
    max-width: 100%;
    height: auto;
}


a {
    text-decoration: none;
}
button {
    background-color: transparent;
}
button{
    text-decoration: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}

body, button, html, input, textarea {
    font-family: pretendard,Apple SD Gothic Neo,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,-apple-system,blinkmacsystemfont,sans-serif;
}



body>#root, #wadizTopBanner, #page-container {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

.black-bg-wrap, .lypop-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.PreviewOverlay_container__3Q3h2 {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    color: #f66;
    border-top: 1px solid #ff9d9d;
    border-bottom: 1px solid #ff9d9d;
    background-color: #fff1f1;
}

.withIcon_icon__djI-9 {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.withIcon_icon__djI-9 {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
.PreviewOverlay_container__3Q3h2 .PreviewOverlay_title__21y5H {
    line-height: 28px;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
}

.PreviewOverlay_container__3Q3h2 .PreviewOverlay_description__2ihG6 {
    margin-left: 16px;
}
input, textarea {
    background: none;
}

body, button, input, select, textarea {
    font-family: inherit;
}

a, input, optgroup, select, textarea {
    color: inherit;
}

h1.wz.text.display1, h2.wz.text.display1, h3.wz.text.display1, h4.wz.text.display1, h5.wz.text.display1, h6.wz.text.display1, p.wz.text.display1, span.wz.text.display1, em.wz.text.display1, label.wz.text.display1 {
    line-height: 36px;
    font-size: 28px;
    font-weight: 700;
}

@media screen and (min-width: 1097px) {
    h1.wz.text.display1, h2.wz.text.display1, h3.wz.text.display1, h4.wz.text.display1, h5.wz.text.display1, h6.wz.text.display1, p.wz.text.display1, span.wz.text.display1, em.wz.text.display1, label.wz.text.display1 {
        line-height: 40px;
        font-size: 32px;
    }
}

.account-find .wz.container, .account-find .page-header .tab-list ul, .account-find .page-header .desc, .account-find .page-header .wz.text.display1 {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1024px;
    color: #000;
}

.account-find .page-header .wz.text.display1 {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

@media screen and (min-width: 769px) {
    .account-find .page-header .wz.text.display1 {
        padding-top: 56px;
        padding-bottom: 36px;
        text-align: left;
    }
}
.account-find .page-header .tab-list {
    position: relative;
    top: 0;
    left: 0;
    transition-property: background-color,-webkit-backdrop-filter,backdrop-filter;
    transition-duration: .5s;
    z-index: 100;
    box-shadow: 0 1px #00000014;
    background: #fff;
    width: 100%;
}

.account-find .wz.container, .account-find .page-header .tab-list ul, .account-find .page-header .desc, .account-find .page-header .wz.text.display1 {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1024px;
    color: #000;
}
.account-find .page-header .tab-list ul {
    display: block;
    margin: 0 auto;
    padding: 0;
}


@media screen and (min-width: 769px) {
    .account-find .page-header .tab-list ul {
        padding: 0 16px;
    }
}

.account-find .page-header .tab-list li {
    float: left;
    width: 50%;
}

@media screen and (min-width: 769px) {
    .account-find .page-header .tab-list li {
        margin-right: 24px;
        width: auto;
    }
}
.account-find .page-header .tab-list a {
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    color: #90949c;
    font-size: 15px;
}

.account-find .page-header .tab-list li.active {
    border-bottom: 2px solid #00c4c4;
    height: 47px;
}

.account-find .page-header .tab-list a {
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    color: #90949c;
    font-size: 15px;
}

.account-find .page-header .tab-list li.active a {
    color: #00b2b2;
}

.account-find .page-header .tab-list ul:after {
    display: block;
    clear: both;
    content: "";
}
.account-find .page-body {
    background: #f5f7fa;
}

.wz.container {
    position: relative;
    padding: 40px 16px;
    box-sizing: border-box;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 15px;
    font-weight: 400;
}
.account-find .wz.container, .account-find .page-header .tab-list ul, .account-find .page-header .desc, .account-find .page-header .wz.text.display1 {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1024px;
    color: #000;
}

.account-find .wz.container {
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0);
    padding-top: 24px;
    padding-bottom: 160px;
    width: 100%;
    max-width: 400px;
}

.account-find .wz.container.pw-check {
    padding-bottom: 10px;
}

h1.wz.text, h2.wz.text, h3.wz.text, h4.wz.text, h5.wz.text, h6.wz.text, p.wz.text, span.wz.text, em.wz.text, label.wz.text {
    word-break: keep-all;
}
h1.wz.text.body1, h2.wz.text.body1, h3.wz.text.body1, h4.wz.text.body1, h5.wz.text.body1, h6.wz.text.body1, p.wz.text.body1, span.wz.text.body1, em.wz.text.body1, label.wz.text.body1 {
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.account-find .wz.container.pw-check .wz.text.body1 {
    margin-bottom: 40px;
    color: #0000008a;
}

.wz.form .field {
    margin: 24px 0;
}

.text-hidden, .wz-modal.confirm-change-email .label {
    margin: -1px 0 0!important;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}

.text-hidden, .wz-modal.confirm-change-email .label {
    margin-top: -1px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}

.wz.form .field > label {
    display: block;
    margin-bottom: 8px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 17px;
}


.wz.form .field.label-hidden > label {
    display: none;
}

.wz.input {
    display: block;
    position: relative;
    font-size: 17px;
}

.wz.input > input, .wz.input > textarea, .wz.input.icon > i.icon {
    color: rgba(0, 0, 0, 0.84);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
.wz.input > input, .wz.input > textarea {
    transition-property: border-color, height, padding-right, color;
    transition-duration: 0.2s, 0s;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #fff;
    padding: 0 0.9411764706em;
    width: 100%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.84);
    font-size: 17px;
    font-weight: 400;
}

.wz.input > input {
    height: 48px;
    line-height: 1.2em;
    font-size: 17px;
    font-weight: 400;
}

.wz.input::after {
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: "wadizicon" !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    speak: none;
    content: "\e934";
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    opacity: 0;
    margin-top: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
    pointer-events: none;
    color: #00c4c4;
    font-size: 1.4117647059em;
}
.wz.form .field .helper {
    display: block;
    margin-top: 4px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}

.account-find .field .helper.error {
    display: none;
}

.wz.form .field .helper.error, .wz.form .field.error .helper.wz.input {
    color: #f25555;
}

.wz.button {
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.4117647059em;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box !important;
    -webkit-appearance: none;
}
.wz.button {
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.wz.button.block, .wz.button.fluid {
    width: 100%;
    text-align: center;
}

.wz.button.primary, .wz.button.primary-outline {
    border-color: #00c4c4;
}

.wz.button.primary {
    background-color: #00c4c4;
    color: #fff;
}

.account-find .wz.container.pw-check .wz.button {
    margin-bottom: 12px;
}






<!-- 모달창-->










