.wz.container {
    position: relative;
    padding: 40px 16px;
    box-sizing: border-box;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 15px;
    font-weight: 400;
}

.account-reset-password .wz.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 375px;
    color: #212529;
}

.account-reset-password .wz.container .page-header {
    padding-top: 24px;
    padding-bottom: 44px;
}

@media screen and (min-width: 769px) {
    .account-reset-password .wz.container .page-header {
        padding-top: 50px;
    }
}

.account-reset-password .wz.container .page-header h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.33;
}

@media screen and (min-width: 769px) {
    .account-reset-password .wz.container .page-header h2 {
        font-size: 36px;
    }
}

.account-reset-password .wz.container .page-header .desc {
    margin-top: 8px;
    color: #495057;
}
@media screen and (min-width: 769px) {
    .account-reset-password .wz.container .page-header .desc {
        margin-top: 16px;
    }
}

.account-reset-password .wz.container .page-body .label {
    line-height: 24px;
}

.account-reset-password .wz.container .page-body .text-field {
    position: relative;
}
.account-reset-password .wz.container .page-body .text-field .input-text {
    margin: 4px 0;
    padding: 0 16px;
    width: 100%;
    height: 48px;
    border: 1px solid #dde2e6;
    border-radius: 3px;
    line-height: 48px;
    font-size: 17px;
    outline: none;
}

.account-reset-password .wz.container .page-body .text-field .trailing-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 16px;
    width: 16px;
    height: 16px;
}
.account-reset-password .wz.container .page-body .text-field .helper-text {
    font-size: 12px;
    color: #868e96;
    display: none;
}

.account-reset-password .wz.container .page-body .text-field {
    position: relative;
}

.account-reset-password .wz.container .page-body .text-field .trailing-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 16px;
    width: 16px;
    height: 16px;
}
.account-reset-password .wz.container .page-body .text-field .helper-text {
    font-size: 12px;
    color: #868e96;
    display: none;
}


.account-reset-password .wz.container .page-body .btn-wrap {
    margin-top: 36px;
}

.wz.button {
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.4117647059em;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box !important;
    -webkit-appearance: none;
}

.wz.button {
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.wz.button.block, .wz.button.fluid {
    width: 100%;
    text-align: center;
}

.wz.button.primary, .wz.button.primary-outline {
    border-color: #00c4c4;
}


.wz.button.primary {
    background-color: #00c4c4;
    color: #fff;
}

.account-reset-password .wz.container .page-body .wz.button {
    height: 56px;
}

.black-bg-wrap, .lypop-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lypop-fixed {
    display: none;
    z-index: 11001;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.account-reset-password .dimmed {
    background-color: #0009;
}


.lypop-fixed .wz-modal {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    min-height: 100%;
    min-height: fit-content;
}

@media screen and (min-width: 400px) {
    .lypop-fixed .wz-modal {
        top: auto;
        left: auto;
        margin: 5% auto;
        width: 400px;
        min-height: auto;
    }
}

.account-reset-password .lypop-fixed .wz-modal {
    top: 0;
    left: 0;
    right: 0;
    height: 272px;
}
@media screen and (min-width: 769px) {
    .account-reset-password .lypop-fixed .wz-modal {
        margin: 0 auto;
        top: 240px;
        width: 560px;
        height: 276px;
    }
}

.wz-modal .modal-main {
    position: relative;
    background-color: #fff;
    padding: 72px 32px 32px;
    box-sizing: border-box;
}
.account-reset-password .lypop-fixed .modal-main {
    padding: 72px 24px 24px;
}

@media screen and (min-width: 769px) {
    .account-reset-password .lypop-fixed .modal-main {
        padding: 72px 32px 32px;
    }
}
h1.wz.text.headline2, h2.wz.text.headline2, h3.wz.text.headline2, h4.wz.text.headline2, h5.wz.text.headline2, h6.wz.text.headline2, p.wz.text.headline2, span.wz.text.headline2, em.wz.text.headline2, label.wz.text.headline2 {
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
}

@media screen and (min-width: 1097px) {
    h1.wz.text.headline2, h2.wz.text.headline2, h3.wz.text.headline2, h4.wz.text.headline2, h5.wz.text.headline2, h6.wz.text.headline2, p.wz.text.headline2, span.wz.text.headline2, em.wz.text.headline2, label.wz.text.headline2 {
        line-height: 36px;
        font-size: 28px;
    }
}

.wz-modal .modal-main p {
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
}

.account-reset-password .lypop-fixed .desc {
    margin-top: 12px;
}

.wz-modal .modal-main .close {
    position: absolute;
    top: 28px;
    left: 32px;
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 1;
    font-size: 24px;
}

.account-reset-password .lypop-fixed .close {
    position: absolute;
    top: 32px;
    left: 24px;
}

@media screen and (min-width: 769px) {
    .account-reset-password .lypop-fixed .close {
        position: absolute;
        top: 32px;
        left: unset;
        right: 32px;
    }
}

.account-reset-password .lypop-fixed .btn-agree-box {
    position: absolute;
    bottom: 32px;
    left: unset;
    right: 24px;
}

@media screen and (min-width: 769px) {
    .account-reset-password .lypop-fixed .btn-agree-box {
        right: 32px;
    }
}



