#server
server:
  port: 10000


#jdbc
spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:XE
    username: scott
    password: 1234


  #jpa
  jpa:
    hibernate:
      ddl-auto: update
      #ddl-auto: create #-> DROP 후 CREATE
      #ddl-auto: create-drop -> DROP 후 CREATE 후 DROP, DML 사용 시 DROP
      #ddl-auto: update -> Entity와 DB 스키마 비교 후 수정 사항 반영(컬럼 추가) -> update를 먼저 써라
      #ddl-auto: validate -> Entity와 DB 스키마 비교 후 불칠치 시 오류


    #jpa format
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  #log
  output:
    ansi:
      enabled: always