<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--파비콘 -->
    <link rel="icon" href="https://static.wadiz.kr/assets/icon/favicon-32x32.png">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
    <title>연계소문 비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/user/find-password.css">
    <link rel="stylesheet" href="/css/header-footer/easy-header.css">
    <link rel="stylesheet" href="/css/header-footer/main-footer.css">
    <link rel="stylesheet" href="/css/modal/easy-modal.css">
    <link rel="stylesheet" href="/css/user/new-password.css">

<!--    <link rel="stylesheet" href="/css/header-footer/main-header.css">-->
</head>
<body>
<div id="page-container">


    <div class="black-bg-wrap" style="display:none;"></div>

    <header class="header" th:replace="~{/header-footer/easy-header :: .easy-header}"></header>
<!--    <header class="header" th:replace="~{/header-footer/main-header :: .main-header}"></header>-->




    <form id="forwardForm" method="get">
        <input type="hidden" id="returnURL" name="returnURL">
    </form>
    <input type="hidden" id="sessionLoginCheck" value="false">

    <div class="account-reset-password">
        <div class="wz container">
            <div class="page-header">
                <h2>비밀번호 재설정</h2>
                <p class="desc">새로 사용하기를 원하는 비밀번호를 입력해 주세요.</p>
            </div>
            <div class="page-body">
                <form class="reset-password__form">
                    <input type="hidden" id="resetPasswordFingerPrint" name="resetPasswordFingerPrint"
                           value="OGQzYTJhOTQtYjNmNS00MGY5LWJhMWYtNzg1ZGYxNGJlNDIxTVRNeE5qTXlNVFV0TnpBMFpTMDBPRFJoTFRrM01qY3RaVGN4TldRM1lqTTBPRGd5">
                    <div class="label">비밀번호</div>
                    <div class="text-field reset-password-new">
                        <input type="password" id="newPassword" name="newPassword" class="input-text"
                               placeholder="비밀번호 입력" maxlength="20">
                        <div class="trailing-icon"></div>
                        <p class="helper-text focus-text">영문, 숫자, 특수문자 !@#$%^&amp;*+=-를 조합한 8자 이상 입력</p>
                    </div>
                    <div class="text-field reset-password-confirm">
                        <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="input-text"
                               placeholder="비밀번호 확인" maxlength="20">
                        <div class="trailing-icon"></div>
                        <p class="helper-text">새 비밀번호가 일치하지 않습니다.</p>
                    </div>
                    <div class="btn-wrap smaller">
                        <button type="button" class="wz button primary block reset-password__submit">완료</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="resetPasswordDoneModal" class="lypop-fixed dimmed" style="display: none">
            <div class="wz-modal wzui">
                <div class="modal-main modal-terms-agree">
                    <p class="wz text headline2 p__success">비밀번호 변경 완료</p>
                    <p class="desc p__success">비밀번호 변경이 완료되었습니다.<br>변경된 비밀번호로 다시 로그인해주세요.</p>
                    <p class="wz text headline2 p__failure">비밀번호 변경 실패</p>
                    <p class="desc p__failure">비밀번호 변경에 실패했습니다.<br>현재 비밀번호 변경이 불가능하므로 비밀번호 재설정을 처음부터 다시 진행해주세요.</p>
                    <button id="btn-close-marketing" type="button" class="close" title="창닫기"></button>
                </div>
                <div class="btn-agree-box">
                    <button type="button" id="btnResetPasswordDone" class="wz button primary">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>