<!DOCTYPE html>
<html lang="ko" class="show-recent scroll-half-screen" style="--scrollbar-width: 17px;000">
<head>
    <meta charset="UTF-8">
    <link href="/css/start-up/start-up.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-footer/main-header.css">
    <link rel="stylesheet" href="/css/header-footer/main-footer.css">
    <link rel="stylesheet" href="/css/modal/easy-modal.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover">
    <meta name="description" content="창업기업 리스트를 확인해보세요.">
    <title>창업상품 체험 목록</title>
</head>

<body style="overflow: auto;">
<div id="page-container">
    <main id="main-app">
        <!-- 헤더 -->
        <header class="header" th:replace="~{/header-footer/main-header :: .main-header}"></header>

        <div class="MainWrapper_content__GZkTa">
            <div class="KeyVisualBanner_container__37DZf">
                <div class="slick-slider slick-initialized" dir="ltr">
                    <button type="button" data-role="none" class="slick-arrow slick-prev" style="display: block;">
                        Previous
                    </button>
                    <div class="slick-list">
                        <div class="slick-track" style="width: 10633px; opacity: 1; transform: translate3d(-3038px, 0px, 0px);">
                            <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width: 1519px;">
                                <div>
                                    <div>
                                        <a href="https://www.wadiz.kr/web/wreward/comingsoon/collection/prehotcomingsoon?_refer_section_st=RGK_0" class="VisualSlide_container__2NDvY" style="background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0627/20230627170645625_7081.jpg/wadiz/optimize');">
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN"><p
                                                        class="VisualSlide_title__3USGy">인기 TOP20<br>오픈예정 프리오더</p>
                                                    <p class="VisualSlide_badge__3nqfs">곧 오픈할 프로젝트 알림신청하기</p></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="true"
                                 style="outline: none; width: 1519px">
                                <div>
                                    <div>
                                        <a href="https://www.wadiz.kr/web/wreward/collection/pretopfunding?_refer_section_st=RGK_0" class="VisualSlide_container__2NDvY" style="background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0620/20230620153835202_7081.jpg/wadiz/optimize');">
                                            <div class="VisualSlide_wrap__32Lj4">
                                                <div class="VisualSlide_text__2SIqN"><p
                                                        class="VisualSlide_title__3USGy">지금 가장 인기있는 <br>와디즈 BEST 프리오더
                                                </p>
                                                    <p class="VisualSlide_badge__3nqfs">안목 있는 와디즈 서포터들의 선택</p></div>
                                            </div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" data-role="none" class="slick-arrow slick-next" style="display: block;">
                        Next
                    </button>
                </div>
                <div class="KeyVisualBanner_wrap__10qJJ">
                    <div class="KeyVisualBanner_navigation__FwQwb">
                        <div style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>

        <div class="Main_categoryMargin__1RWGF"></div>
        <div class="CategoryTab_container__1XTA0 undefined" style="top: 0px;">
            <div class="TabsMobile_tabRoot__1KBCT">
                <div class="TabsMobile_tabsWrapper__3zP94">
                    <ul class="TabsMobile_tabs__39ewt TabsMobile_hideScrollbar__3v5I5">
                        <li data-index="0">
                            <button class="ImageTab_tab__3siCY ImageTab_first__2C8Ry ImageTab_active__BGdXu"
                                    data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭" data-ga-label="전체">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_all.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">전체</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="1">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="테크·가전">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_tech.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">테크·가전</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="2">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="패션·잡화">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_fashion.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">패션·잡화</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="3">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="홈·리빙">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_living.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">홈·리빙</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="4">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="뷰티">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_beauty.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">뷰티</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="5">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="푸드">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_food.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">푸드</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="6">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="출판">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_publishing.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">출판</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="7">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="클래스·컨설팅">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_class.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">클래스·컨설팅</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="8">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="레저·아웃도어">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_outdoor.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">레저·아웃도어</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="9">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="스포츠·모빌리티">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_sport.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">스포츠·모빌리티</span>
                                </div>
                            </button>
                        </li>
                        <li data-index="10">
                            <button class="ImageTab_tab__3siCY" data-ga-category="프리오더(홈)_카테고리" data-ga-action="클릭"
                                    data-ga-label="컬쳐·아티스트">
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"
                                             style="background-image: url(&quot;https://cdn3.wadiz.kr/category/icon/category_culture.png&quot;);"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">컬쳐·아티스트</span>
                                </div>
                            </button>
                        </li>
                    </ul>
                    <div class="TabsMobile_navigation__3Q7Xi">
                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation"
                             class="withIcon_icon__3VTbq" aria-hidden="true" style="width: 20px; height: 20px;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7.924 2.576l-.848.848L15.65 12l-8.575 8.576.848.848L17.35 12 7.924 2.576z"></path>
                        </svg>
                    </div>
                </div>
                <div class="Main_categoryMargin__1RWGF"></div>
            </div>
        </div>
        <div class="Main_categoryMargin__1RWGF"></div>
        <div class="Main_container__2oIVn">
            <div class="Main_category__3sabq"><p class="Main_categoryName__3YilF">전체</p>
                <div class="Main_filterWrap__2l__0">
                    <div class="OrderSelect_sortContainer__3F7LQ">
                        <div class="OrderSelect_content__1RjYa"><span>전체</span>
                            <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                 class="withIcon_icon__3VTbq OrderSelect_expandIcon__30qeK" aria-hidden="true">
                                <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                            </svg>
                        </div>
                        <select class="OrderSelect_selectBox__2hBjk">
                            <option value="">전체</option>
                            <option value="N">진행중</option>
                            <option value="Y">종료된</option>
                        </select></div>
                    <ul class="OrderSelectDesktop_sortContainer__1YLsr">
                        <li class="OrderSelectDesktop_sortItem__12TKi OrderSelectDesktop_active__YTP2K"
                            data-ga-category="프리오더(홈)_정렬" data-ga-action="클릭" data-ga-label="추천순">추천순
                        </li>
                        <li class="OrderSelectDesktop_sortItem__12TKi" data-ga-category="프리오더(홈)_정렬" data-ga-action="클릭"
                            data-ga-label="인기순">인기순
                        </li>
                        <li class="OrderSelectDesktop_sortItem__12TKi" data-ga-category="프리오더(홈)_정렬" data-ga-action="클릭"
                            data-ga-label="모집금액순">모집금액순
                        </li>
                        <li class="OrderSelectDesktop_sortItem__12TKi" data-ga-category="프리오더(홈)_정렬" data-ga-action="클릭"
                            data-ga-label="마감임박순">마감임박순
                        </li>
                        <li class="OrderSelectDesktop_sortItem__12TKi" data-ga-category="프리오더(홈)_정렬" data-ga-action="클릭"
                            data-ga-label="최신순">최신순
                        </li>
                        <li class="OrderSelectDesktop_sortItem__12TKi" data-ga-category="프리오더(홈)_정렬" data-ga-action="클릭"
                            data-ga-label="응원참여자순">응원참여자순
                        </li>
                    </ul>
                </div>
            </div>
            <div class="TableLayout_container__1_Ap4 Main_table__UHAm-"
                 style="grid-template-columns: repeat(3, calc(33.3333% - 16px)); gap: 24px;">
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/202451?_refer_section_st=PREORDER_0"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="202451"
                       data-ec-name="세대를 거듭하며 진화한 완벽함, 세상 유일 무한한 연필 | 3세대 탄소펜" data-ec-category="홈·리빙"
                       data-ec-brand="ONE+DESIGN" data-ec-position="0" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0527/20230527163003409_202451.jpg/wadiz/optimize&quot;); border-radius: 8px;"></div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">970명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">26,039,649원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">23일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">세대를 거듭하며 진화한 완벽함, 세상 유일 무한한 연필 | 3세대 탄소펜</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">ONE+DESIGN</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/216086?_refer_section_st=PREORDER_1"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="216086"
                       data-ec-name="[와디즈단독특가] 658%월등한 호흡 신세계, 미국 특허 스노클링 마스크" data-ec-category="레저·아웃도어"
                       data-ec-brand="태남디비아이(주)" data-ec-position="1" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0526/20230526095557786_217130.jpg/wadiz/resize/800/format/jpg/quality/85/&quot;); border-radius: 8px;"></div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">222명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">18,165,000원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">16일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">[와디즈단독특가] 658%월등한 호흡 신세계, 미국 특허 스노클링 마스크</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">태남디비아이(주)</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/216227?_refer_section_st=PREORDER_2"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="216227"
                       data-ec-name="[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!" data-ec-category="푸드" data-ec-brand="노몰로스"
                       data-ec-position="2" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0531/20230531133918445_216086.jpg/wadiz/optimize&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">73명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">1,567,200원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">9일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">노몰로스</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/216227?_refer_section_st=PREORDER_2"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="216227"
                       data-ec-name="[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!" data-ec-category="푸드" data-ec-brand="노몰로스"
                       data-ec-position="2" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0531/20230531133918445_216086.jpg/wadiz/optimize&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">73명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">1,567,200원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">9일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">노몰로스</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/216227?_refer_section_st=PREORDER_2"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="216227"
                       data-ec-name="[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!" data-ec-category="푸드" data-ec-brand="노몰로스"
                       data-ec-position="2" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0605/20230605151649763_202462.jpg/wadiz/resize/800/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">73명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">1,567,200원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">9일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">노몰로스</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/216227?_refer_section_st=PREORDER_2"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="216227"
                       data-ec-name="[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!" data-ec-category="푸드" data-ec-brand="노몰로스"
                       data-ec-position="2" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0521/20230521183346775_215848.jpg/wadiz/resize/800/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">73명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">1,567,200원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">9일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">노몰로스</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/216227?_refer_section_st=PREORDER_2"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="216227"
                       data-ec-name="[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!" data-ec-category="푸드" data-ec-brand="노몰로스"
                       data-ec-position="2" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0424/20230424140844886_204433.png/wadiz/resize/800/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">73명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">1,567,200원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">9일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">노몰로스</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/216227?_refer_section_st=PREORDER_2"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="216227"
                       data-ec-name="[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!" data-ec-category="푸드" data-ec-brand="노몰로스"
                       data-ec-position="2" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0530/20230530195021613_217268.jpg/wadiz/resize/800/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">73명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">1,567,200원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">9일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">노몰로스</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="PreorderMainCard_root__1-vcs" style="height: 100%; position: relative;">
                    <a class="PreorderMainCard_item__2FrO0"
                       href="https://www.wadiz.kr/web/campaign/detail/216227?_refer_section_st=PREORDER_2"
                       data-ec-list="프리오더홈_프로젝트카드_프리오더" data-ec-id="216227"
                       data-ec-name="[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!" data-ec-category="푸드" data-ec-brand="노몰로스"
                       data-ec-position="2" data-ec-contenttype="PREORDER">
                        <div class="PreorderMainCard_thumbnailWrap__NRDb4">
                            <div aria-hidden="true" class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                 style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0616/20230616160616588_211829.png/wadiz/resize/800/format/jpg/quality/85/&quot;); border-radius: 8px;">
                            </div>
                        </div>
                        <div class="PreorderMainCard_contentContainer__1OmhF">
                            <div class="PreorderMainCard_header__R39X1">
                                <div class="PreorderMainCard_headerLeft__2nwa1">
                                    <p class="PreorderMainCard_participants__JDp58">73명 참여</p>
                                    <p class="PreorderMainCard_amount__3UOXm">1,567,200원</p>
                                </div>
                                <div class="PreorderMainCard_headerRight__3rRNi">
                                            <span class="Badge_container__9G9PS Badge_visible__3LNXv">
                                                <span class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_sm__1OBNp Badge_primary__tTdjx Badge_tertiary__3uYKh">9일 남음</span>
                                            </span>
                                </div>
                            </div>
                            <div class="PreorderMainCard_title__XlTJk">[2차앵콜!!]75년 역사! 유러피언 초코 스프레드 Lino Lada!</div>
                            <div class="PreorderMainCard_subText__1LB5l">
                                <span class="PreorderMainCard_makerName__2Ufj1">노몰로스</span>
                            </div>
                        </div>
                        <div class="CardSpinner_container__1cKRs">
                            <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                <svg viewBox="25 25 50 50" aria-label="Loading">
                                    <g class="Loader_circular__2dy3E">
                                        <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20" fill="none"
                                                stroke-width="4" stroke-miterlimit="10"></circle>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </main>
</div>
</body>
</html>