div {
    display: block;
}
article, blockquote, body, dd, div, dl, dt, h1, h2, h3, h4, html, li, main, ol, p, section, table, tbody, td, th, thead, tr, ul {
    margin: 0;
    padding: 0;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

a, address, article, aside, audio, b, body, button, canvas, caption, dd, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, img, input, label, legend, li, nav, ol, p, pre, section, small, span, strong, summary, table, tbody, td, th, thead, time, tr, ul, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit;
    box-sizing: border-box;
}

a a:active, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

a {
    margin: 0;
    padding: 0;
    text-decoration-line : none;
}
label {
    cursor: default;
}


input {
    color: inherit;
}

input::placeholder {
    color: #adb5bd;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul  {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

main {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Noto Sans KR', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
}

body li {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body, html {
    -webkit-text-size-adjust: none;
}

body input {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body, body button, body input, body li, body ol, body select, body textarea, body ul {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body, body button, body input, body select, body textarea {
    font-family: roboto,Noto Sans KR,sans-serif;
}

button {
    font-family: 'Roboto', 'Noto Sans KR', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}


form {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    
    font: inherit;
    box-sizing: border-box;
}

input, optgroup, select, textarea {
    color: inherit;
}


#page-container {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

.black-bg-wrap, .lypop-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.black-bg-wrap {
    opacity: .6;
    z-index: 9999;
    background: #000;
}

#wz-header {
    position: static;
    top: 0;
    z-index: 99;
}

.web-header {
    position: static;
    top: 0;
    transition: top .25s;
    z-index: 99;
    width: 100%;
}

.web-header-large {
    display: block;
}

.web-header, .web-header-simple {
    display: block;
    position: relative;
    text-align: cdenter;
}

.web-header, .header-wrapper {
    position: relative;
    border-bottom: 1px solid #f2f4f6;
    padding: 0;
    height: 56px;
    text-align: left;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
}

.web-header .header-wrapper .header-container {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
}

.web-header .wadiz-logo>a {
    padding: 14px 0 18px;
    display: block;
}

.web-header .wadiz-logo .label {
    display: block;
    position: absolute;
    left: -9999px;
    visibility: none;
    height: 1px;
}


.web-header .web-header-simple .header-container .gnb-large {
    display: block;
    position: absolute;
    right: 80px;
    left: auto;
    color: #495057;
}

.web-header .gnb-large {
    margin-left: 24px;
    box-shadow: none;
    width: auto;
}

.web-header .gnb-large li {
    float: left;
    width: auto;
}

.web-header, .web-header-simple, .header-container, .gnb-large, .item {
    margin-left: 16px;
    padding: 0;
}

.web-header, .gnb-large, .item {
    display: block;
    padding-top: 7px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    color: #495057;
}

.web-header .web-header-simple .header-container .gnb-large .item span {
    font-size: 15px;
    font-weight: 400;
}

.web-header, .web-header-simple, .header-container, .gnb-large, .item span {
    font-size: 15px;
    font-weight: 400;
}

.web-header .gnb-large, .item span {
    padding-top: 1px;
    line-height: 55px;
    color: #000;
}

.PreviewOverlay_container__3Q3h2 {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    color: #f66;
    border-top: 1px solid #ff9d9d;
    border-bottom: 1px solid #ff9d9d;
    background-color: #fff1f1;
}

.PreviewOverlay_container__3Q3h2 .PreviewOverlay_title__21y5H {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
}

.PreviewOverlay_container__3Q3h2 .PreviewOverlay_description__2ihG6 {
    margin-left: 16px;
}

.account-intro-login .user-sign-container {
    position: static;
    transform: none;
    margin: 0 auto;
    padding-right: 0;
    width: 100%;
    max-width: 400px;
}

.wz.container.form-container {
    margin: 0 auto;
    padding-bottom: 96px;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

.account-intro-login .form-container {
    padding-top: 80px;
}

.wz.container {
    position: relative;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.wz.container, body a {
    color: rgba(0,0,0,.84);
}


.wz.container .wz.text.display2 {
    margin-bottom: 12px;
}

.wz.container .wz.text.display2, .wz.container .wz.text.subtext1 {
    color: rgba(0,0,0,.84);
}

em.wz.text.display2, h1.wz.text.display2, h2.wz.text.display2, h3.wz.text.display2, h4.wz.text.display2, h5.wz.text.display2, h6.wz.text.display2, label.wz.text.display2, p.wz.text.display2, span.wz.text.display2 {
    line-height: 40px;
    font-size: 32px; 
}

em.wz.text.display2, h1.wz.text.display2, h2.wz.text.display2, h3.wz.text.display2, h4.wz.text.display2, h5.wz.text.display2, h6.wz.text.display2, label.wz.text.display2, p.wz.text.display2, span.wz.text.display2 {
    line-height: 36px;
    letter-spacing: -.6px;
    font-size: 28px;
    font-weight: 700;
}

em.wz.text, h1.wz.text, h2.wz.text, h3.wz.text, h4.wz.text, h5.wz.text, h6.wz.text, label.wz.text, p.wz.text, span.wz.text {
    word-break: keep-all;
}

.wz.text {
    color: #adb5bd;
}

.user-sign-container .wz.container.form-container.form-login .wz.form {
    margin-top: 24px;
}

.user-sign-container .wz.container.form-container.form-login .wz.form .field {
    margin-top: 12px;
    margin-bottom: 12px;
}



.wz.form .field {
    margin: 24px 0;
}

.wz.input {
    display: block;
    position: relative;
    font-size: 17px;
}

.error-text {
    display: none;
    color: #f25555;
}

.wz.input.inline-block, .wz.input:after {
    display: inline-block; 
}

.wz.input:after {
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    transition-property: transform,opacity;
    transition-duration: .2s;
    opacity: 0;
    margin-top: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
    pointer-events: none;
    color: #00c4c4;
    font-size: 1.41176em;
}

.wz.form .field.error .helper.wz.input, .wz.form .field .helper.error {
    color: #f25555;
}

.wz.input>input {
    height: 48px;
    line-height: 1.2em;
    font-size: 17px;
    font-weight: 300;
}

.wz.input>input, .wz.input>textarea {
    transition-property: border-color,height,padding-right,color;
    transition-duration: .2s,0s;
    outline: none;
    border: 1px solid rgba(0,0,0,.15);
    background: #fff;
    padding: 0 0.94118em;
    width: 100%;
    vertical-align: middle;
    color: rgba(0,0,0,.84);
    font-family: roboto,Noto Sans KR,-apple-system,dotum,sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.wz.input.icon>i.icon, .wz.input>input, .wz.input>textarea {
    color: rgba(0,0,0,.84);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.account-intro-login .recaptcha .complete-text, .account-intro-login .recaptcha .error-text {
    margin-bottom: 12px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
}

.account-intro-login .recaptcha .complete-text {
    color: #000;
}

.account-intro-login .recaptcha .complete-text span {
    display: block;
}

.wz.container.form-container .wz.form .error-text, .wz.container.form-container .wz.form .complete-text {
    display: none;
}

iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}

.user-sign-container .wz.container.form-container.form-login .login-action .forgot {
    color: #adb5bd;
    float: right;
    line-height: 24px;
    font-size: 13px;
}

.user-sign-container .wz.container.form-container.form-login .login-action:after {
    display: block;
    clear: both;
    content: "";
}

.wz.container.form-container .wz.form .submit-button {
    display: block;
    margin: 32px 0 0;
}

.wz.button.primary {
    background-color: #00c4c4;
    color: #fff;
}

.wz.button.primary, .wz.button.primary-outline {
    border-color: #00c4c4;
}

.wz.button.block, .wz.button.fluid {
    width: 100%;
    text-align: center;
}

.wz.button {
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .2s;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.41176em;
    height: 48px;
    vertical-align: middle;
    line-height: 1;
    color: rgba(0,0,0,.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box!important;
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.Button_button__2_6-I.Button_lg__2Kv4b {
    padding: 9px 24px;
    line-height: 1.75;
    font-size: 16px;
}

.Button_button__2_6-I.Button_block__39TGk {
    width: 100%;
}

button:not(:disabled) {
    cursor: pointer;
}

.SNSButtonList_spacer__38ac5 {
    margin-top: 12px;
}

.SNSButtonList_kakaoButton__2lTDs {
    border-color: #fee500;
    background-color: #fee500;
}

.Button_button__2_6-I {
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
}

.Button_button__2_6-I span {
    display: inline-flex;
    align-items: center;
    vertical-align: text-top;
}

.Button_button__2_6-I, .Button_children__weH0H {
    vertical-align: top;
}
.SNSButtonList_kakaoIcon__1s6gw {
    position: absolute;
    left: 16px;
    width: 22px;
    height: 22px;
}



svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.SNSButtonList_spacer__38ac5 {
    margin-top: 12px;
}

.SNSButtonList_naverButton__1rzZ_ {
    border-color: #00d337;
    background-color: #00d337;
    color: #fff;
}

.Button_button__2_6-I, .Button_children__weH0H {
    vertical-align: top;
}

.SNSButtonList_naverIcon__3TjPM {
    position: absolute;
    left: 16px;
    width: 22px;
    height: 22px;
}

.SNSButtonList_circularButtonWrapper__hZCKN {
    margin-top: 56px;
    display: flex;
    justify-content: center;
}

.SNSButtonList_circularButton__2WsLD:first-child {
    margin-left: 0;
}

.SNSButtonList_appleButton__1rA1b, .SNSButtonList_facebookButton__2el51, .SNSButtonList_googleButton__1u6eV {
    border-radius: 999em;
}

.SNSButtonList_circularButton__2WsLD {
    margin-left: 12px;
    padding: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
}

.withIcon_icon__1YH1P {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.SNSButtonList_facebookButton__2el51 {
    border-color: #1877f2;
    background-color: #1877f2;
    color: #fff;
}

.SNSButtonList_googleButton__1u6eV {
    background-color: #fff;
}
.SNSButtonList_appleButton__1rA1b {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

.user-sign-container .wz.container.form-container.form-login .bottom-message {
    position: relative;
    bottom: auto;
    left: auto;
    margin-top: 12px;
    box-shadow: none;
    background: none;
    height: 56px;
    line-height: 56px;
    text-align: center;
}

.user-sign-container .wz.container.form-container.form-login .bottom-message a {
    margin-left: 6px;
    text-decoration: underline;
    color: #00c4c4;
}

.wz.container {
}


