:root {
    --scrollbar-width: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

a, em, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

article, main, section {
    display: block;
}

input, textarea {
    background: none;
}

body, button, input, select, textarea {
    font-family: pretendard,Apple SD Gothic Neo,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,-apple-system,blinkmacsystemfont,sans-serif;
}

body, table th {
    font-weight: 400;
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}

a, input, optgroup, select, textarea {
    color: inherit;
}

li, ol, ul {
    list-style: none;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#page-container, #wadizTopBanner, body>#root {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

body>#root, #wadizTopBanner, #page-container {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

.MainWrapper_content__GZkTa {
    transition: padding-top .25s;
    padding-top: 0;
}

@media screen and (min-width: 1097px) {
    .MainWrapper_content__GZkTa {
        padding-top: 0;
        padding-bottom: 0;
    }
}

html.scroll-top .MainWrapper_content__GZkTa, html.wadiz-app .MainWrapper_content__GZkTa, html.wadiz-app.scroll-top .MainWrapper_content__GZkTa {
    padding-top: 0;
}

@media screen and (min-width: 1097px) {
    html.scroll-top .MainWrapper_content__GZkTa {
        padding-top: 0;
    }
}

.MarketingNotificationSettingsPage_container__2chD7 {
    margin: 0 auto;
    padding: 8px 16px 40px;
    width: 100%;
    max-width: 650px;
}

@media screen and (min-width: 1097px) {
    .MarketingNotificationSettingsPage_container__2chD7 {
        padding: 16px 16px 0;
    }
}

@media screen and (min-width: 1097px) {
    .MarketingNotificationSettingsHeader_header__2sz-C {
        margin-bottom: 16px;
        padding-top: 16px;
    }
}

.MarketingNotificationSettingsHeader_header__2sz-C .MarketingNotificationSettingsHeader_title__tqZVG {
    line-height: 44px;
    font-size: 32px;
    font-weight: 700;
    display: none;
    margin-top: 8px;
    margin-bottom: 32px;
}

@media screen and (min-width: 1097px) {
    .MarketingNotificationSettingsHeader_header__2sz-C .MarketingNotificationSettingsHeader_title__tqZVG {
        display: inline;
    }
}

/* 알림 동의 css */
.MarketingNotificationSettingsList_container__24St9 {
    position: relative;
    margin-bottom: 16px;
    padding-top: 16px;
}

.MarketingNotificationSettingsList_container__24St9 .MarketingNotificationSettingsList_title__3sp3- {
    line-height: 28px;
    font-size: 16px;
    font-weight: 700;
}

.MarketingNotificationSettingsItem_row__2vdY9 {
    display: flex;
    justify-content: space-between;
}

.MarketingNotificationSettingsItem_row__2vdY9 label {
    color: #212529;
}

.MarketingNotificationSettingsToggle_toggle__2y1ZQ {
    display: flex;
}

.MarketingNotificationSettingsToggle_toggle__2y1ZQ .MarketingNotificationSettingsToggle_switch__3huq- {
    display: block;
    position: relative;
    opacity: 1;
    border: solid 2px rgba(0,0,0,.06);
    border-radius: 16px;
    background-color: #f5f7fa;
    cursor: pointer;
    width: 48px;
    height: 30px;
}

.MarketingNotificationSettingsToggle_toggle__2y1ZQ .MarketingNotificationSettingsToggle_switch__3huq-.MarketingNotificationSettingsToggle_active__3F6b3 {
    border-color: #00c4c4;
    background-color: #00c4c4;
}

.MarketingNotificationSettingsToggle_toggle__2y1ZQ .MarketingNotificationSettingsToggle_switch__3huq-:after {
    position: absolute;
    top: 1px;
    left: 1px;
    transition: .3s all;
    border-radius: 12px;
    box-shadow: 0 6px 6px -1px rgba(10,22,70,.1), 0 0 5px rgba(10,22,70,.06);
    background-color: #fff;
    width: 24px;
    height: 24px;
    content: "";
}

.MarketingNotificationSettingsToggle_toggle__2y1ZQ .MarketingNotificationSettingsToggle_switch__3huq-.MarketingNotificationSettingsToggle_active__3F6b3:after {
    left: 19px;
    background-color: #fff;
}

.MarketingNotificationSettingsToggle_toggle__2y1ZQ .MarketingNotificationSettingsToggle_input__3BGIj {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
}

.MarketingNotificationSettingsList_container__24St9 .MarketingNotificationSettingsList_description__o6mO_ {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #212529;
}

.MarketingNotificationSettingsList_container__24St9 li {
    border-bottom: 1px solid #e8ecef;
    padding: 12px 0;
}

.MarketingNotificationSettingsList_container__24St9 li label {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.MarketingNotificationSettingsLoading_loading__qM6P9 {
    display: none;
}

.MarketingNotificationSettingsList_container__24St9 .MarketingNotificationSettingsList_loading__3zZJP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.MarketingNotificationSettingsLoading_circle__hypWY {
    animation: MarketingNotificationSettingsLoading_loading-rotate__1UAjt 2s linear infinite;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
}

.MarketingNotificationSettingsLoading_stroke__3dSeI {
    animation: MarketingNotificationSettingsLoading_loading-dash__2-JlQ 1.5s ease-in-out infinite;
    stroke-width: 2.2;
    stroke-linecap: butt;
    stroke-dasharray: 80;
    stroke-dashoffset: 0;
    stroke: #2ed5d5;
    fill: rgba(0,0,0,0);
}

/* 알림 동의 css 끝*/

.MarketingNotificationSettingsContainer_lightCaption__1ZttV {
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #868e96;
}

/* 활동 알림 */
.MerketingNotificationSettingsSection_container__2Oagz {
    position: relative;
    margin-bottom: 16px;
    padding-top: 16px;
}

.MerketingNotificationSettingsSection_container__2Oagz .MerketingNotificationSettingsSection_title__K8Lyj {
    line-height: 28px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 13px;
    color: #212529;
}

.MarketingNotificationSettingsLink_row__13ua4 {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8ecef;
    cursor: pointer;
    padding: 12px 0;
    line-height: 30px;
    color: #212529;
}

.MarketingNotificationSettingsLink_row__13ua4 .MarketingNotificationSettingsLink_arrowIcon__UAMvX {
    position: absolute;
    right: 0;
}

.withIcon_icon__3VTbq {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.MarketingNotificationSettingsLink_row__13ua4 .MarketingNotificationSettingsLink_arrowIcon__UAMvX>svg {
    width: 24px;
    height: 24px;
    fill: #adb5bd;
}

/* 활동 알림 끝 */


.MarketingNotificationSettingsContainer_bottomGuide__3RJuv {
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    padding-top: 16px;
    color: #868e96;
}