:root {
    --scrollbar-width: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

body, button, html, input, textarea {
    font-family: pretendard,Apple SD Gothic Neo,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,-apple-system,blinkmacsystemfont,sans-serif;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
}

/* body, button, input, select, textarea {
    font-family: inherit;
} */

body, table th {
    font-weight: 400;
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}

a, button {
    outline: none;
    -webkit-appearance: none;
}

a, button {
    color: inherit;
}

button {
    background-color: transparent;
}

li, ol, ul {
    list-style: none;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

#page-container, #wadizTopBanner, body>#root {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

body>#root, #wadizTopBanner, #page-container {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

.MyFollowAppContainer_container__3kyZM .MyFollowAppContainer_contents__14hR7 {
    max-width: 768px;
}

@media screen and (min-width: 769px) {
    .MyFollowAppContainer_container__3kyZM .MyFollowAppContainer_contents__14hR7 {
        margin: auto;
    }
}

.MyFollowAppContainer_container__3kyZM .MyFollowAppContainer_contents__14hR7 .MyFollowAppContainer_header__3NqJv {
    line-height: 44px;
    font-size: 32px;
    font-weight: 700;
    padding: 48px 12px 29px;
}

/* 네비게이션 css */
.Tabs_tabsWrapper__2ih_O {
    position: relative;
    width: 100%;
    min-height: 48px;
    overflow: hidden;
}

.Tabs_tabs__2bDmF::-webkit-scrollbar {
    display: none;
}

.MyFollowAppContainer_container__3kyZM .MyFollowAppContainer_contents__14hR7 .MyFollowAppContainer_tabsWrapper__2N8pO .MyFollowAppContainer_tabs__nLUsA::-webkit-scrollbar {
    display: none;
}

.Tabs_tabs__2bDmF {
    display: flex;
    position: relative;
    background-color: #fff;
    padding: 0 8px;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.MyFollowAppContainer_container__3kyZM .MyFollowAppContainer_contents__14hR7 .MyFollowAppContainer_tabsWrapper__2N8pO ul {
    padding: 0 4px;
}

.MyFollowAppContainer_container__3kyZM .MyFollowAppContainer_contents__14hR7 .MyFollowAppContainer_tabsWrapper__2N8pO .MyFollowAppContainer_tabs__nLUsA {
    overflow: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Tabs_tabs__2bDmF li {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    min-width: 30px;
    max-width: 200px;
    vertical-align: middle;
    white-space: normal;
    -moz-appearance: none;
}

@media screen and (min-width: 1097px) {
    .Tabs_tabs__2bDmF li {
        flex-shrink: 0;
        margin-right: 32px;
    }
}

.MyFollowAppContainer_container__3kyZM .MyFollowAppContainer_contents__14hR7 .MyFollowAppContainer_tabsWrapper__2N8pO ul li {
    margin: 0 8px;
}

.Tab_tab__zHnkO {
    border: 0;
    background-color: #0000;
    cursor: pointer;
    height: 100%;
    min-height: 48px;
    overflow: hidden;
    vertical-align: middle;
    white-space: normal;
}

button:not(:disabled) {
    cursor: pointer;
}

.Tab_tab__zHnkO span {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 9px 4px;
    height: 100%;
    color: #495057;
}

.MyFollowAppContainer_container__3kyZM .MyFollowAppContainer_contents__14hR7 .MyFollowAppContainer_tabsWrapper__2N8pO ul li sup {
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: #00b2b2;
    font-weight: 500;
    line-height: 14px;
    vertical-align: text-top;
}

.Tab_tab__zHnkO.Tab_active__1KvvF span {
    color: #212529;
    font-weight: 700;
}

.Tab_tab__zHnkO.Tab_active__1KvvF span:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #212529;
    width: 100%;
    height: 2px;
    content: "";
}
/* 네비게이션 css 끝 */


/* 팔로윙 css */
.TabPanels_tabPanels__2QLWg {
    width: 100%;
}

.Page_container__2z8uO {
    margin: 24px 12px 0;
}

.FollowingCard_container__3lCRo .FollowingCard_contents__SWcn2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FollowingCard_container__3lCRo .FollowingCard_contents__SWcn2 .FollowingCard_leftPanel__3oPiF {
    display: flex;
    width: 100%;
}

.FollowingCard_container__3lCRo .FollowingCard_contents__SWcn2 .FollowingCard_leftPanel__3oPiF .FollowingCard_avatarWrapper__3thMM {
    display: flex;
    align-items: center;
}

.Avatar_avatar__LZmeH {
    display: inline-flex;
    position: relative;
    outline: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.Avatar_avatar__LZmeH.Avatar_sm__apmKN {
    width: 56px;
    height: 56px;
}

.FollowingCard_container__3lCRo .FollowingCard_contents__SWcn2 .FollowingCard_leftPanel__3oPiF .FollowingCard_avatarWrapper__3thMM .FollowingCard_avatar__U6lAI {
    margin-right: 8px;
}

.Avatar_avatar__LZmeH>span {
    display: block;
    position: absolute;
    opacity: 1;
    border-radius: 100%;
    background: no-repeat 50%/cover;
    width: 100%;
    height: 100%;
}

.FollowingCard_container__3lCRo .FollowingCard_contents__SWcn2 .FollowingCard_leftPanel__3oPiF .FollowingCard_info__1lPPw {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FollowingCard_container__3lCRo .FollowingCard_contents__SWcn2 .FollowingCard_leftPanel__3oPiF .FollowingCard_info__1lPPw .FollowingCard_name__MtTbm {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.FollowingCard_container__3lCRo .FollowingCard_contents__SWcn2 .FollowingCard_leftPanel__3oPiF .FollowingCard_info__1lPPw .FollowingCard_detail__1t60_ {
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
}

.FollowingCard_container__3lCRo .FollowingCard_contents__SWcn2 .FollowingCard_rightPanel__3gkx3 {
    display: flex;
}

.Button_button__3MO4n {
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: #0000;
    cursor: pointer;
    padding: 8px 15px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    -webkit-appearance: none;
}

.Button_button__3MO4n.Button_secondary__2ECH- {
    border-color: #cdd3d8;
    color: #495057;
}

.Button_button__3MO4n.Button_md__3TvVa {
    padding: 9px 15px;
    line-height: 1.45;
    font-size: 14px;
}

.Button_button__3MO4n.Button_md__3TvVa.Button_startIcon__3w2N9 {
    padding-left: 10px;
}

.Button_button__3MO4n span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

button.SupporterFollowingButton_followingButton__OS4-t>span {
    display: inline-flex;
}

.withIcon_icon__2KxnX {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.Button_button__3MO4n span svg {
    display: inline-block;
}

.Button_button__3MO4n svg.Button_icon__16grv {
    width: 16px;
    height: 16px;
}

.Button_button__3MO4n svg.Button_icon__16grv:first-child {
    margin-right: 6px;
}

.Button_button__3MO4n.Button_md__3TvVa svg.Button_icon__16grv {
    width: 16px;
    height: 16px;
}

button.SupporterFollowingButton_followingButton__OS4-t span:first-child .SupporterFollowingButton_icon__1l_WZ {
    width: 12px;
    height: 12px;
}

.Button_button__3MO4n.Button_md__3TvVa svg.Button_icon__16grv:first-child {
    margin-right: 6px
}

.Button_button__3MO4n .Button_children__raEW4 {
    vertical-align: top;
}

.FollowingCard_container__3lCRo .FollowingCard_divider__2NaPM {
    margin: 16px 0;
    background-color: #f2f4f6;
    width: 100%;
    height: 1px;
}

/* 팔로윙 css 끝 */